body {
    background-image: url(https://www.addictivetips.com/app/uploads/2020/04/cnXrJ3N.png); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ubicación de tu imagen */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center;
  background-color: rgb(225, 230, 225);
}
h1 {
  font-size: 2rem; /* Tamaño de fuente */
  color: #aeabd8;    /* Color del texto */
  font-weight: bolder; /* Peso de la fuente (normal, bold, etc.) */
  text-align: center; /* Alineación del texto (center, left, right) */
  margin-top: 10px; /* Margen superior */
  margin-bottom: 20px; /* Margen inferior */
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
  transition: text-shadow 0.7s; /* Transición de la sombra */
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
}

h2{
    color: antiquewhite;
    font-family: Arial, sans-serif;
    text-align: left; /* Centrar horizontalmente */
    font-size: 30px;
    text-align: left;
    color: #f1efef;
    margin-left: 150px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Efecto de sombra */
    transition: text-shadow 0.7s; /* Transición de la sombra */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.7);
 }
footer{
  margin-left: 770px;

}

div.avatar {
    margin: 10px auto;
    background-color: rgb(125, 152, 177);
    height: 200px;
    width: 200px;
    background-repeat: no-repeat;
    background-position: 0%;
    border-radius: 70%;
    background-size: 95% auto;
}


/* Estilo para el formulario */
form {
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-left: 150px;
    margin-right: 800px;
  }
  
  /* Estilo para las etiquetas */
  label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #fff;
   
    cursor: pointer;

  }
  
  /* Estilo para los campos de entrada */
  input {
    width: 100%;
    padding: 10px;  
    font-size: 16px;
    border: 3px solid #7f91f5;
    border-radius: 7px;
    display: block; /* Hace que los campos de entrada sean bloques */
    margin-bottom: 10px; /* Agrega espacio entre elementos */
   
  }
  
  /* Estilo para el botón de registro */
  button {
    display: block; /* Hace que el botón sea un bloque */
    padding: 10px;
    font-size: 22px;
    background-color: #62aada;
    color: #fff;
    border: 5px;
    border-radius: 7px;
    cursor: pointer;
  }
  
 
  select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Hace que el menú desplegable sea un bloque */
    margin-bottom: 10px; /* Agrega espacio entre elementos */
  }
